<app-card header="List Karyawan">
<table class="table">
    <thead>
        <th>No</th>
        <th>Nama</th>
        <th>Tgl Lahir</th>
        <th>Jabatan</th>
        <th>NIP</th>
        <th>Jenis Kelamin</th>
        <th>Aksi</th>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees; let i = index" [attr.data-index]="i">
            <td>{{i+1}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.birthDateString}}</td>
            <td>{{employee.position?.name}}</td>
            <td>{{employee.idNumber}}</td>
            <td>{{employee.genderString}}</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-dark btn-sm" (click)="showUpdateForm(employee)">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" (click)="deleteRecord(employee)">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

</app-card>

